{{!< main}}

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>mode</td>
            <td>Status</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>

    {{#games}}
    <tr>
        <td><a href="/games/{{this._id}}">{{this.name}}</a></td>
        <td>{{this.mode}}</td>
        <td>{{this.status}}</td>
        <td>
            <a href="/games/{{this._id}}/players">Participants</a>
            <form action="/games/{{this._id}}?_method=DELETE" method="POST"><input type="submit" value="Supprimer"></form>
        </td>
    </tr>
    {{/games}}
    </tbody>
</table>
